extends ./layouts/main.pug

block content

  h1= title

  .container.head.navbar-default.navbar-fixed-top(style ="backgroung-color : #ffff")
      ul.nav.nav-tabs
        li
          a(href='/welcome')
            i.glyphicon.glyphicon-home(style ="color : #00aced;") &nbsp;
              | Home
        li.active
          a(href='/profilechange')
            i.glyphicon.glyphicon-user(style ="color : #00aced;") &nbsp;
                | Profile

        li.navbar-right
          a(href='/logout')
            i.glyphicon.glyphicon-off(style ="color : #00aced;") &nbsp;
                  | Logout
  .container
    .fb-profile
      img.fb-image-lg(align='left', src='./images/cover.jpg', alt='Profile image example' width ="100%")
      each i in results
        img.fb-image-profile.thumbnail(align='left', src='./images/'+ i.image ,height = "228px" width="90px" )
        .fb-profile-text
          h1(style ="color : #00aced;")= i.username
  .container
    .page-canvas(style = "padding :5px;")
      .row
        .col-sm-3
          .profile-usermenu
            ul.nav
              li
                a(href='/profilechange')
                  i.glyphicon.glyphicon-user(style ="color : #00aced;")
                    |               Profile

              li
                a(href='/welcome')(style ="color : #00aced;")
                  i.glyphicon.glyphicon-home
                    |               home
              li.active
                a(href='/followers')
                  i.glyphicon.glyphicon-ok(style ="color : #00aced;")
                    |               folllowers &nbsp;&nbsp;&nbsp;&nbsp;
                  span.badge(style ="background-color : #00aced; color:#fff; font-size : 15px;")= count

        .col-sm-9
          .profile-content
            .sidebar-menu
              h4(style ="color : #00aced;") Your followers!!!!
              .row
                each rows in users
                  .col-sm-3
                    .media.block-update-card(align="center" padding="5px")
                      img.img-circle(src='./images/'+ rows.image, height = "140" width="140")
                      a(href=`/profile/${rows.user_id}`)
                        h2(style ="color : #00aced; font-size : 15px;")= rows.username
                      form(method="post" action="/unfollow")
                        input(type="hidden",name="followerId",value=rows.id)
                        input.btn-sm.waves-effect.waves-light(style ="background-color : #00aced; color: #fff;", type="submit", value="Unfollow")

