extends ./layouts/main.pug

block content

  h1= title

  .container.head.navbar-default.navbar-fixed-top(style ="backgroung-color : #ffff")
      ul.nav.nav-tabs
        li
          a(href='/welcome')
            i.glyphicon.glyphicon-home(style ="color : #00aced;") &nbsp;
              | Home
        li.active
          a(href='/profilechange')
            i.glyphicon.glyphicon-user(style ="color : #00aced;") &nbsp;
                | Profile

        li.navbar-right
          a(href='/logout')
            i.glyphicon.glyphicon-off(style ="color : #00aced;") &nbsp;
                  | Logout
  .container
    .fb-profile
      img.fb-image-lg(align='left', src='/images/cover.jpg', alt='Profile image example' width ="100%")
      img.fb-image-profile.thumbnail(align='left', src='/images/' + profile.image ,height = "228px" width="90px" )
      .fb-profile-text
        h1(style ="color : #00aced;")= profile.username
  .container
    .page-canvas(style = "padding :5px;")
      .row
        .col-sm-3
          .profile-usermenu
            ul.nav
              li.active
                a(href=`/profile/${profile.user_id}`)
                  i.glyphicon.glyphicon-user(style ="color : #00aced;")
                    |               Profile
            ul.nav
              li
                h6(style ="color : #00aced;")
                  i.material-icons info
                  |     Details
              li
                i.material-icons(style ="color : #00aced;") perm_identity&nbsp;
                =profile.username
              li
                i.material-icons(style ="color : #00aced;") email&nbsp;
                =profile.email
              li
                i.material-icons(style ="color : #00aced;") phone&nbsp;
                =profile.mobilenumber

        .col-sm-6
          .profile-content
            .row
              h5(style ="color : #00aced;")= profile.username+' \'s tweets are here !!!!'
              each row in tweets
                p
                .page-canvas(style = "padding :5px;")
                  p
                  - const a = new Date(row.time)
                    .media.block-update-card
                      a.pull-left(href='#')
                        img.media-object.update-card-MDimentions(src='/images/'+ row.image, height = "50px" width="50px")
                      .media-body.update-card-body
                        h6.media-heading(style ="color : #00aced;")=row.username
                        p= row.tweet
                        -if(row.imagetweet)
                          img.media-object.update-card-MDimentions(src='/images/'+ row.imagetweet, height = "400px" width="400px")
                        p(style ="color : #00aced;")=a.getDate() + "/" + (a.getMonth()+1) + "/" + a.getFullYear() + " " + a.getHours() + ":" + a.getMinutes() + ":" + a.getSeconds()
        //-                 a(href='/deletetweet/' + row.id)
        //-                   i.material-icons delete

        //- .col-sm-3
        //-   .profile-content
        //-     .sidebar-menu
        //-       h5(style ="color : #00aced;") Your followers!!!!
        //-       each rows in users
        //-         p
        //-         .media.block-update-card
        //-             a.pull-left(href='#')
        //-               img.img-circle.media-object.update-card-MDimentions(src='./images/'+ rows.image, height = "60px" width="60px")
        //-             .media-body.update-card-body
        //-               h5.media-heading(style ="color : #00aced; font-size : 15px;")= rows.username
        //-               form(method="post" action="/unfollow")
        //-                 input(type="hidden",name="followerId",value=rows.id)
        //-                 input.btn-sm.waves-effect.waves-light(style ="background-color : #00aced; color: #fff;", type="submit", value="Unfollow")
                        //- button.btn.btn-info(type="submit") Unfollow
