extends ./layouts/main.pug

block content

  h1= title
  #wrapper
    .container.head.navbar-default.navbar-fixed-top(style ="backgroung-color : #ffff")
      ul.nav.nav-tabs
        li.active
          a(href='/welcome')
            i.glyphicon.glyphicon-home(style ="color : #00aced;") &nbsp;
              | Home
        li
          a(href='/profilechange')
            i.glyphicon.glyphicon-user(style ="color : #00aced;") &nbsp;
                | Profile

        li.navbar-right
          a(href='/logout')
            i.glyphicon.glyphicon-off(style ="color : #00aced;") &nbsp;
                  | Logout

    .container
      h1= title
      .page-canvas
        .signin-wrapper
          .row.profile
            .col-sm-3
              p
              .page-canvas(style ="padding:10px;")
                .profile-sidebar
                  //- SIDEBAR USERPIC
                  each profile in results
                    .profile-userpic
                      img.img-responsive(src='./images/'+ profile.image, alt='',height = "200px" width="200px")
                    .profile-usertitle
                      .profile-usertitle-name(style ="color : #00aced;")= profile.username

                .profile-usermenu
                  ul.nav
                    li
                      a(href='/profilechange')
                        i.glyphicon.glyphicon-user(style ="color : #00aced;")
                        |    Profile
                    li.active
                      a(href='/welcome')
                        i.glyphicon.glyphicon-home(style ="color : #00aced;")
                        |    home
                    li
                      a(href='/followers')
                        i.glyphicon.glyphicon-ok(style ="color : #00aced;")
                        |    followers
                        span.badge(style ="background-color : #00aced; color:#fff; font-size : 15px;")= count



            .col-sm-6
              .profile-content
                .row
                  p(style ="color : #00aced;")
                    i.glyphicon.glyphicon-pencil &nbsp;
                    | What's in your mind ??
                .row
                  .no-padding.blank
                    .status-upload
                      .page-canvas
                        form(action='/tweet',enctype='multipart/form-data', method='post')
                          textarea(name='tweet' placeholder='What are you doing right now?', maxlength="140" , required)
                          div(class='form-group')
                            .col-sm-5
                              input.btn-sm.waves-effect.waves-light(style ="background-color : #00aced; color: #fff;", type="submit", value="Tweet", name="Tweet")
                            .col-sm-7
                              input.btn-sm.waves-effect.waves-light(type='file', name='imagetweet')
                                //- input(type='file', name='imagetweet')
                              //- .file-path-wrapper
                              //-   input.file-path.validate(type="text")

                .row
                  each row in tweets
                    p
                    .page-canvas(style = "padding :5px;")
                      - const a = new Date(row.time)
                      .media.block-update-card
                        a.pull-left(href='#')
                          img.img-circle.media-object.update-card-MDimentions(src='./images/'+ row.image, height = "50px" width="50px")
                        .media-body.update-card-body
                          a.media-heading(href=`/profile/${row.user_id}`,style ="color : #00aced;")=row.username
                          p= row.tweet
                          -if(row.imagetweet)
                            img.media-object.update-card-MDimentions(src='./images/'+ row.imagetweet, height = "400px" width="400px")

                          p(style ="color : #00aced;")=a.getDate() + "/" + (a.getMonth()+1) + "/" + a.getFullYear() + " " + a.getHours() + ":" + a.getMinutes() + ":" + a.getSeconds()

            .col-sm-3
              .profile-content
                .sidebar-menu
                  p(style ="color : #00aced;")
                    i.glyphicon.glyphicon-user &nbsp;
                    | People you may know
                  .row
                    each rows in follow
                      hr
                      .media.block-update-card(align="center")
                        img.img-circle(src='./images/'+ rows.image, height = "140" width="140")
                        h6(style ="color : #00aced;")= rows.username
                        form(method="post" action="/follower")
                          input(type="hidden",name="followerId",value=rows.user_id)
                          input.btn-sm.waves-effect.waves-light(style ="background-color : #00aced; color: #fff;", type="submit", value="Follow")
                          //- button.btn-sm(type="submit") Follow
            //- .col-sm-3(style ="padding-top :30px")
            //-   div(class="page-container")
            //-     p(style ="color : #00aced;")
            //-       i.glyphicon.glyphicon-user &nbsp;
            //-       | People you may know
            //-     .sidebar-menu
            //-       each rows in follow
            //-         p &nbsp;
            //-         .page-canvas
            //-           img.img-fluid.thumbnail.card-img-top(src='./images/'+ rows.image ,height="150px" ,width="150px")
            //-           .card-block
            //-             h5.card-title(style ="color : #00aced;")= rows.username
            //-             form(method='post', action='/follower')
            //-               input(type='hidden',name='followerId',value=rows.user_id)
            //-               button.btn.btn-info(type='submit') follow
